	html {
		font-family: 'Roboto', sans-serif; 
		height: 100%; 
	}

	body {
		position: relative; 
		height: 100%; 
	}

	nav#navtabs {
		background: #e5e5e5;
		font-size: 12px; 
		line-height: 12px; 
		position: absolute;
		width: 100%; 
		height: 28px; 
		top: 0; 
		left: 0; 
		z-index: 20;
		padding-right: 200px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

		/*
			animation should be handled in a separate CSS class
			to enable/disable the animation temporarily as required
		*/
		nav#navtabs.animate > .tab,
		nav#navtabs.animate > #add-tab {
			transition: all 120ms ease-in-out;
		}

		nav#navtabs > .tab {
			color: #666;
			background: #e5e5e5;
			border-right: 1px solid #ddd; 
			display: inline-block; 
			height: 28px; 
			-webkit-box-sizing: border-box;
			width: 200px;
			cursor: pointer; 
			position: absolute;
			overflow: hidden;
		}

			nav#navtabs  > .tab > .favicon-wrapper {
				position: absolute;
				top: 7px;
				left: 7px;
				width: 16px;
				height: 16px;
				overflow:hidden;
			}

				nav#navtabs > .tab > .favicon-wrapper > img.favicon {
					max-width: 100%;
				}

			nav#navtabs > .tab > span.title {
				position: absolute; 
				top: 9px; 
				left: 28px;
				width: 1000px; 
			}

			nav#navtabs > .tab.active {
				color: #111;
				background-color: #f5f5f5; 
				height: 29px; 
			}

			/* Close button */
			nav#navtabs > .tab > .close-wrapper {
				background: #e5e5e5;
				font-size: 10px; 
				line-height: 10px; 
				position: absolute; 
				top: 0; 
				right: 0; 
				padding: 0 14px;
				height: 29px;
				z-index: 10; 
				/* Add fading effect for text (tab title) running longer than the tab container */
				background: linear-gradient(to right, rgba(229,229,229,0) 0%,rgba(229,229,229,1) 100%); 
			}

				nav#navtabs > .tab.active > .close-wrapper {
					background: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,0.6) 20%,rgba(245,245,245,1) 100%);
					text-align: center;
				}

				nav#navtabs > .tab > .close-wrapper > .close {
					position: absolute;
					top: 6px;
					right: 6px;
					padding: 3px 4px 3px 5px;
					border-radius: 30px;
				}

					nav#navtabs > .tab > .close-wrapper > .close:hover {
						color: #fff;
						background: #ff5544;
					}

				nav#navtabs > .tab i.icon {
					line-height: 0;
				}

			nav#navtabs > #add-tab {
				background: #fff; 
				display: inline-block; 
				height: 28px; 
				-webkit-box-sizing: border-box; 
				float: left; 
				cursor: pointer; 
				position: absolute;
				top: 0;
				left: 150px;
				overflow: hidden;
			}

				nav#navtabs > #add-tab > .icon-wrapper {
					padding: 9px 10px; 
				}

		/* Clear float */
		nav#navtabs:after {
			content: ''; 
			display: block; 
			clear: both; 
		}

	#menubar {
		background-color: #f5f5f5;
		border-top: 1px solid #ddd; 
		border-bottom: 1px solid #ddd; 
		position: absolute; 
		width: 100%; 
		height: 34px; 
		top: 28px; 
		left: 0; 
		overflow: hidden; 
		z-index: 10; 
	}

		#menu-left {
			position: absolute; 
			top: 0; 
			left: 0; 
		}

		#menu-right {
			position: absolute; 
			top: 0; 
			right: 0; 
		}

		.controls > [id^=button-] {
			color: #333; 
			display: inline-block; 
			padding: 6px 10px;
			font-size: 22px; 
			line-height: 22px; 
			float: left; 
		}

		.controls > [id^=button-].disabled {
			color: #bbb; 
		}

		.icon-button {
			cursor: pointer; 
		}

		#button-stop-loading {
			display: none;
		}

		#button-menu {
			padding: 7px 10px; 
			font-size: 19px; 
			line-height: 19px; 
		}

		#address-bar-wrapper {
			float: left; 
			padding-top: 4px; 
			padding-bottom: 4px; 
			width: 100%;
			padding-left: 96px;
			padding-right: 36px;
			-webkit-box-sizing: border-box; 
		}

			input#address-bar {
				font-size: 14px; 
				line-height: 14px;
				padding: 4px 6px;
				-webkit-box-sizing: border-box; 
				border: 1px solid #e5e5e5;
				width: 100%; 
				outline: none; 
			}


/* Tabview */
#webview-wrapper {
	position: relative; 
	height: 100%; 
}

#webview-wrapper webview {
	width: 100%; 
	height: 100%; 
	position: absolute; 
	padding-top: 64px; 
	top: 0; 
	left: 0; 
	-webkit-box-sizing: border-box; 
}

/* ===============================================
	common classes
=============================================== */

/*
	Make menu text unselectable
*/
.unselectable {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	user-select: none; 
}


/* .loader */
.loader {
	font-size: 10px;
	text-indent: -9999em;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: linear-gradient(to right, #999 10%, rgba(153, 153, 153, 0) 42%);
	position: relative;
	animation: load3 1.0s infinite linear;
	transform: translateZ(0);
	display: none;
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #999;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #e5e5e5;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.tab.active .loader:after {
	background: #f5f5f5;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
